
Debug/

GAMS playground/

Kapac-optim/

Presentations/

Systemydelser/

Beregninger/

*.gdx

Python/MECTidsAggregering.xlsx

Python/AVA_MainTimeAggr.py

Python/copilot.py

Python/dfIterMecF.xlsx
Test.log
data.json

*.pyc

Software-Architecture-Patterns.pdf

Why Do We Need a Message Queue.msg

Master/~$MecLPinput.xlsb

Master/MecLP.dat

Master/Copy of MECLpOutput.xlsm

*.lxi

*.lst

*.gch

*.log

Master/MECLpOutput.txt

Master/~$MECLpOutput.xlsm

Master/MecLPinput.txt
